#news-slider{
  margin-top: 55px;
}
.post-slide{
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding: 20px 20px 35px 20px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
.post-slide .symbol {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.post-slide .title {
  text-align: center;
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.33px;
}
.post-slide .text {
  text-align: center;
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  margin: 10px 0;
}
.post-slide a {
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18.96px;
  fill: #0377FF;
  color: #0377FF;
  text-decoration: none;
  margin-top: 15px;
}


.navbar {
  position: fixed !important;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 80px 0px 80px;
  z-index: 999;
  background-color: #0000007A !important;
  padding: 20px 0 !important;
}
.navbar .logo {
  cursor: pointer;
}
.navbar .login {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-decoration: none;
  padding: 13px 20px;
}
.navbar .tryFree {
  border: 1px solid #fff !important;
  border-radius: 30px !important;
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-decoration: none;
  padding: 13px 20px;
}
.navbar .login:hover,
.navbar .tryFree:hover {
  color: #a040fc;
  transition: 0.3s;
}



/********* Header **********/
header {
  background-image: url("../images/img-top-1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  position: relative;
  z-index: 1;
}
header .body {
  padding: 130px 16px 0px 16px;
}
header .title {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 71.1px;
  margin-bottom: 24px;
}
header .text {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  max-width: 41%;
}
header .mid_text {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.7px;
  max-width: 30%;
}
header .start_field {
  margin-top: 70px;
}
header a {
  margin-top: 32px;
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 25.2px;
  color: black;
  background-color: white;
  border-radius: 100px 100px 100px 100px;
  padding: 18px 34px 18px 34px;
  box-shadow: none;
  text-decoration: none;
}
header a:hover {
  background-color: #40fca2;
  color: black;
  transition: 0.3s;
}

/******** howHelp **********/
.howHelp {
  margin-top: -60px;
  background-color: white;
  z-index: 100;
  position: relative;
}
.howHelp .howHelp_title {
  color: black;
  font-family: "Rubik", Sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  padding: 5px 0;
}

.howHelp .body {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.howHelp .left {
  width: 50%;
}
.howHelp .left .tract_img {
  width: 90%;
  margin-top: 30px;
}
.howHelp .left .optimize_img {
  width: 90%;
  margin-top: 50px;
}
.howHelp .left .manage_img {
  width: 93%;
  margin-top: 100px;
}
.howHelp .right {
  width: 65%;
}
.howHelp .right .title_field .symbol {
  width: 90px;
  height: 90px;
}
.howHelp .title {
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 71.1px;
  margin-top: -10px;
}
.howHelp .back_icon {
  position: absolute;
  top: 20px;
  left: 40px;
}
.howHelp .back_icon svg {
  width: 180px;
  height: 130px;
}
.howHelp .right .mid_text {
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.7px;
  margin: 15px 0 20px 0;
}
.howHelp .right .text {
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.7px;
}
.howHelp .tracking_field {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.manage_item_field {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.howHelp .item  {
  border-radius: 8px 8px 8px 8px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E7EAEE;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 50%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 4px 4px 4px 4px;
  padding: 20px;
}
.howHelp .tracking  {
  width: 48%;
}
.howHelp .manage  {
  width: 25%;
}
.howHelp .optimize  {
  width: 31%;
}
.howHelp .tracking_title {
  font-weight: bolder;
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  line-height: 18.96px;
  margin-bottom: 8px;
}
.howHelp .tracking_text {
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
}
.howHelp a {
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  fill: black;
  color: black;
  background-color: var( --e-global-color-6afadb6 );
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 50px 50px 50px 50px;
  padding: 12px 24px 12px 24px;
  margin-left: 10px;
  text-decoration: none;
}
.howHelp a:hover {
  border-color: #40fca2;
}
.howHelp .mobile_left {
  display: none ;
}

/********** perfectTool ***********/
.perfectTool {
  padding: 64px 32px 64px 32px;
  background-color: #F7F0FFCC;
  border-radius: 32px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #A040FC;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.perfectTool .perfectToolTitle,
.existingTool .title,
.startsToday .title {
  text-align: center;
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 20px;
}
.perfectTool .perfectToolText,
.existingTool .text,
.startsToday .text {
  text-align: center;
  color: black;
  font-family: "Rubik", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.perfectTool .contactUs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.perfectTool .contactUs a {
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  fill: black;
  color: white;
  background-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 50px 50px 50px 50px;
  padding: 16px 34px 16px 34px;
  text-decoration: none;
}
.perfectTool .contactUs:hover {
  color: black;
}
.existingTool a {
  color: #0377ff;
  text-decoration: none;
  text-align: center;
  font-family: "Rubik", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.7px;
}
.startsToday .startFree {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.startsToday a {
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  fill: white;
  color: white;
  background-color: black;
  border-radius: 100px 100px 100px 100px;
  padding: 16px 34px 16px 34px;
  text-decoration: none;
}
.startsToday a:hover {
  color: black;
  background-color: #40fca2;
}
.existingTool {
  margin-top: 100px;
}
.existingTool .img_bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.existingTool .img_bg img {
  width: 120%;
}
.existingTool .img_item {
  width: 75%;
  position: relative;
  z-index: 100;
}
.existingTool .img_field,
.existingTool .viewAll {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.startsToday {
  background-image: url("../images/footer_home.jpg");
  background-size: cover;
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 60px;
  padding: 200px 0px 50px 0px;
  z-index: 0;
}
.startsToday .title {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  max-width: 59%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

/********** Footer **********/
footer {
  background-color: black;
  padding: 52px 50px 20px 50px;
}
.footer_body {

}
footer .item_field {
  display: flex;
  justify-content: space-between;
}
footer .item {
  display: flex;
  flex-direction: column;
}
footer .title {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px
}
footer .text {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
footer .sm_text {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
footer a {
  color: white;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
footer i {
  font-size: 25px;
  color: white;
  margin: 0 10px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer_bottom .emailSend {
  background-color: #ffffff;
  border-width: 0px 0px 0px 0px;
  border-radius: 22px;
  margin-right: 45px;
  margin-top: 7px;
}
.footer_bottom input {
  background-color: #ffffff;
  border-width: 0px 0px 0px 0px;
  border-radius: 22px 0px 0px 22px;
  padding: 0.5rem 1rem;
  width: 70%;
}
.footer_bottom button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 100px 100px 100px 100px;
  color: #ffffff;
  background-color: black;
  padding: 7.9px 30px 7.6px 30px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1px;
}
.footer_bottom img {
  margin-top: 7px;
  width: 35px;  
}
a:hover {
  text-decoration: none !important;
  transition: 0.3s;
}

/******** Media Query *********/
@media screen and (max-width: 1400px) {
  header .mid_text {
    max-width: 35%;
  }
  .howHelp .right .mid_text {
    margin: 7px 0 10px 0;
  }
  .howHelp .tracking {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .manage_item_field {
    display: flex;
    flex-wrap: wrap;
  }
  .howHelp .manage  {
    width: 48%;
  }
  .howHelp .optimize {
    width: 31%;
  }
  .howHelp .left .manage_img {
    width: 90%;
    margin-top: 145px;
  }
}
@media screen and (max-width: 1200px) {
  header .mid_text {
    max-width: 42%;
  }
  .howHelp .left .tract_img {
    width: 96%;
    margin-top: 90px;
  }
  .howHelp .body {
    align-items: center;
  }
  .howHelp .right {
    width: 50%;
  }
  .perfectTool {
    padding: 64px 0px 64px 0px;
  }

}
@media screen and (max-width: 992px) {
  header {
    height: 710px;
  }
  header .title {
    font-size: 45px;
    line-height: 50px;
  }
  header .text {
    max-width: 58%;
    font-size: 18px;
  }
  header .mid_text {
    font-size: 18px;
    max-width: 50%;
  }
  .howHelp .body {
    margin-top: 25px;
  }
  .howHelp .left .tract_img {
    width: 100%;
    margin-top: 105px;
  }
  .howHelp .left .manage_img {
    width: 100%;
  }
  .howHelp .right .text {
    font-size: 16px;
    line-height: 18.7px;
    word-break: break-all;
  }
  .howHelp .manage {
    width: 47%;
  }
  .howHelp .optimize {
    width: 47%;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-image: url("../images/home-ondulada-mobile-1.jpg");
    height: 515px;
  }
  header .body {
    padding: 75px 16px 0px 16px;
  }
  header .title {
    font-size: 28px;
    line-height: 33.18px;
  }
  header .text {
    max-width: 100%;
    font-size: 16px;
    line-height: 18.96px;
  }
  header .mid_text {
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 18.96px;
  }
  header .start_field {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  header a {
    font-size: 14px;
    line-height: 19.96px;
  }
  .howHelp .howHelp_title {
    font-size: 24px;
    line-height: 28.44px;
    padding: 40px 24px 0px 24px;
    border-bottom: 1px solid rgb(161, 161, 161);
  }
  .howHelp .body {
    display: flex;
    flex-direction: column-reverse;
  }
  .howHelp .right {
    width: 100%;
  }
  .howHelp .left {
    display: none;
  }
  .howHelp .mobile_left {
    display: block;
    width: 100%;
  }
  .howHelp .mobile_left .tract_img {
    width: 100%;
  }
  .howHelp .mobile_left .manage_img {
    width: 100%;
  }
  .howHelp .title {
    font-size: 40px;
    line-height: 47.4px;
  }
  .howHelp .right .mid_text {
    font-size: 28px;
    line-height: 33.18px;
    margin-top: 20px;
  }
  .howHelp .tracking {
    display: flex;
    flex-direction: column;
  }
  .howHelp .learnMore {
    display: flex;
    justify-content: center;
  }
  .howHelp .tracking,
  .howHelp .manage,
  .howHelp .optimize {
    width: 100%;
  }
  .existingTool .img_bg img {
    width: 100%;
  }
  .startsToday .title {
    max-width: 100%;
  }
  .perfectTool {
    background-image: url("../images/overBg.png");
    background-size: cover;
  }
  footer .item_field {
    flex-wrap: wrap;
  }
  footer .item {
    width: 48%;
    margin: 10px 0;
  }
  .socialIcon {
    margin: auto;
    margin-top: 20px;
  }
  .footer_bottom {
    flex-direction: column;
    margin-top: 25px;
  }
  footer .text {
    text-align: center;
  }
  footer .sm_text {
    text-align: center;
  }
  footer .subscribe {
    align-items: center;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 450px) {
    footer {
      padding: 52px 16px 20px 16px;
    }
  }
  
  @media screen and (max-width: 400px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar .login,
  .navbar .tryFree {
    padding: 8px;
  }
  header {
    height: 565px;
  }
  .startsToday {
    margin-top: 30px;
    padding: 140px 0px 50px 0px;
  }
  .perfectTool .perfectToolTitle, .existingTool .title, .startsToday .title {
    font-size: 30px;
  }
  .footer_bottom .emailSend {
    margin-right: 15px;
  }
  .footer_bottom input {
    width: 130px;
  }
}



.slider {
  display: flex;
  height: 350px;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll !important;
  padding: 16px;
  transform: scroll(calc(var(--i,0)/var(--n)*-100%));
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
}
.slider::-webkit-scrollbar-track {
  background: transparent;
}
.slider::-webkit-scrollbar-thumb {
  background: #888;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.slider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
.slide {

  position: relative;
}
.slide img {
  height: 100%;
  width: 250px;
  margin: 0 10px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: .25s ease-in-out;
}
.control-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(255,255,255,0.55);
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
}
.control-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: rgba(255,255,255,0.55);
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
}
.slide img.zoomed{
   width: 500px;
   height: 600px;
   position: fixed;
   left: 25%;
   top: 0%;
   z-index: 1000;
   transform: scale(1) translatey(0) !important; 
 
}
.overlay{
   position: absolute;
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,.45);
   top: 0;
   display: none;
}
.overlay.active{
 display: block;
}
.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.active,
.dots:hover {
  background-color: rgba(173, 216, 230, 0.8);
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}


@media only screen and (max-width: 420px) {
  .slider {
    padding: 0;
 }
  .slide {
    padding: 16px 10px;
 }
  .slide img {
    margin: 0;
 }
  .control-prev-btn {
    top: 37%;
 }
  .control-next-btn {
    top: 37%;
 }
}




